*.*Store
*.*~
*.TMP
*.a
*.bak
*.o
*.pro.user
*.pro.user.*
*.sln
*.snap
*.stash
*.vcx*
.DS_Store
.idea/
.qmake.stash
.qtc_clangd/
.venv/
.vibe/
.vs/
.vscode/
Debug/
Makefile
Makefile.*
Release/
TEST_LOG*.*
compile_commands.json
deps/cmark-gfm
deps/cmark-gfm
deps/mitie
moc_*.cpp
snapcraft.yaml
