*.pro.user
*.pro.user.*
Makefile
Makefile.*
Release/
Debug/
.vs/
.idea/
.venv/
*.o
*.a
*.*~
moc_*.cpp
TEST_LOG*.*
*.stash
*.*Store
*.vcx*
*.sln
*.bak
compile_commands.json
.qmake.stash
.DS_Store
deps/cmark-gfm
deps/mitie
deps/cmark-gfm
