[submodule "3rd-party/discount"]
	path = deps/discount
	url = https://github.com/dvorka/discount.git
[submodule "doc"]
	path = doc
	url = https://github.com/dvorka/mindforger-repository.git
[submodule "deps/cmark"]
	path = deps/cmark
	url = https://github.com/dvorka/cmark.git
