#include <windows.h>
#include "..\..\..\lib\src\app_info.h"
IDI_ICON1               ICON    DISCARDABLE     "../icons/mindforger.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION    MINDFORGER_VERSION_DWORD
PRODUCTVERSION MINDFORGER_VERSION_DWORD
FILEOS 0x0
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName",        MINDFORGER_APP_COMPANY
            VALUE "FileDescription",    MINDFORGER_APP_DESCIPTION
            VALUE "FileVersion",        MINDFORGER_VERSION_STRING
            VALUE "LegalCopyright",     MINDFORGER_APP_LEGAL
            VALUE "OriginalFilename",   MINDFORGER_APP_EXE
            VALUE "ProductName",        MINDFORGER_APP_NAME
            VALUE "ProductVersion",     MINDFORGER_VERSION_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
END
